body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #038c3e;
  align-items: center;
  padding: 20px;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0px;
}

.header ul a {
  text-decoration: none;
  color: white;
}

.header ul a:hover{
  transition: .2s;
  color: #d9d5d2;
}

.header ul li {
  margin: 0px 10px;
  font-size:15px;
}

.header img {
  width: 160px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.content div {
  width: 50%;
}
.content div img {
  width: 100%;
}

.footer {
  background-color: #038c3e;
  color: white;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.footer ul {
  list-style: none;
}

.footer ul li a img{
  width: 25px;
}

.redes-sociais ul {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.redes-sociais ul li {
  margin-left: 10px;
}

.direitos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}